html {
    height: 100%;
    background-image: linear-gradient(#ff6161, #ff768c);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
}

body{
    display: flex;
    
}

.container {
    background-color: rgb(248, 240, 240);
    padding-left: 60px;
    height: 500px;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}

h3 {
    
    padding-right:30px ;
    text-align: left;
    color: #ff6161;
}
i {
    color: rgb(228, 13, 13);
}
i:hover{
    background-color: rgb(75, 147, 195);
}
form {
    background-color: #fff;
    padding: 15px;
}
input[type="text"] {
width: 310px;
height: 30px;
outline: 0;
border: none;
font-size: 1.5rem;
background: #fff;
color: #2f4f4f;
}
button{
    font-size:1.5rem ;
    color: #53BDFF;
    /* background-color: #fff; */
    outline: 0;
    border: none;
    /* width: 50px; */
}
.taskBoard {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    display: none;

}
ul {
    list-style: none;
}
input {
    border-bottom: 1px solid #53BDff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    color:  #2f4f4f;
}
a{
    float: right;
    text-align: right;
    color:  #2f4f4f;
    font-size: 1.2rem;
    margin: 30px;
    cursor: pointer;

}
.delete {
    background-color: #ff6161;
    /* padding: 0px 3px 0px 3px; */
    color: #fff;
    cursor: pointer;
}

.counter {
    padding: 0px 3px 0px 3px;
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 1.2rem;
}



.todo__footer {
    padding-top: 50px;
}